<footer class="footer">
    
    <div>
      
      <div class="custom-control custom-switch" >
        <input type="checkbox" class="custom-control-input" onclick="modoOscuro()" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Modo oscuro</label>
      </div>
    </div>
    <p>Repositorio en <a href="https://github.com/julian4u0/jscol_proyecto">github</a>.</p>
    
  </footer>