<div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
    </ul>
        <a href="">Tu perfil</a>
        <div style="padding-right: 10px;">{{usuario}}</div>
        <a class="btn btn-danger" href="/logout" role="button">Cerrar sesión</a>
        <a class="nav-link link-navbar" href="/login" style="margin-right: 10px;" ></a>
        
</div>