
<br>

<h2>Hola, estás en el inicio!</h2>

<div id="div-fecha"></div>

<p> Buscador: <input type="text" id="texto" /> <input name="ver" type="button" value="ver"</p>
<!-- <var valor = document.getElementById("texto").value;-->

<p> Ingresa</p>
<p> Usuario: <input name="titulo" type="text"/> </p> 
<p> Contraseña: <input name="clave" type="password" /></p>
<p><input name="ver" type="button" value="ver" />

