
<br>

{{#if usuario}}

<h2>Hola {{usuario}}, est치s en el inicio!</h2>

<a class="btn btn-danger" href="/logout" role="button">Cerrar sesi칩n</a>
{{else}}

<h2>Hola, est치s en el inicio, y aun no est치s registrado!</h2>
<a href="/login">Ir al login</a>
<br>
<a href="/register">Ir a registro</a>
<br>
{{/if}}

<div id="div-fecha"></div>
<p> Buscador: <input type="text" id="texto" /> <input name="ver" type="button" value="ver"</p>
<!-- <var valor = document.getElementById("texto").value;-->

