</div>
<div class="nav-bottom-new">
    <div class="container">
        <div style="display: flex; justify-content:space-between;">

            <div>
                {{#if usuario}}


                <h2>Bienvenido, {{usuario}}</h2>
                {{else}}
                <h2>Bienvenido a FreeChou</h2>
                {{/if}}
            </div>
            <div>
                <a role="button" class="btn btn-success">Quiero contratar</a>
                <a role="button" href="/seller" class="btn btn-outline-light">Quiero ofrecer mis servicios</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <h4>Explorar </h4>




    <!-- <var valor = document.getElementById("texto").value;-->
    <form>
        <div class="row">
            <div class="col">
                <input type="text" id="search-text" class="form-control" placeholder="Buscar por palabra clave">
            </div>
            <div class="col">
                <button type="button" id="search-button" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>

    <div id="div-fecha"></div>
    <div class="row">

        <aside class="col-md-4">

            <div class="p-3">
                <h4 class="font-italic">Filtrar</h4>

                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="filtro1">Preferencia 1</label>
                    <select class="custom-select mr-sm-2" id="filtro1">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="filtro2">Preferencia 2</label>
                    <select class="custom-select mr-sm-2" id="filtro2">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

            </div>

        </aside>

        <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                Resultados
            </h3>

            <div id="queries"></div>
            <div class="pagination">
                <a class="btn btn-outline-secondary" href="#"><</a>
                <a class="btn btn-outline-secondary" href="#">></a>
            </div>

        </div><!-- /.blog-main -->


    </div>