
<br>

<h2>Hola, estás en el inicio!</h2>

<div id="div-fecha"></div>

<p> Buscador: <input type="text" id="texto" /> <input name="ver" type="button" value="ver"</p>
<!-- <var valor = document.getElementById("texto").value;-->

