
<br>
<form action="/user/login" method="POST" class="register">

<p> Ingresa</p>
<p> Email: <input id="email" name="email" type="text" class="right" /> </p> 
<p> Contraseña: <input name="password" type="password" class="right" /></p>
<p><input  type="submit"  />

<div id="errorLogin" style="color: red;"></div>
</form>

<a href="/register">No tienes cuenta?</a>