
<br>

<p> Ingresa</p>
<p> Usuario: <input name="titulo" type="text"/> </p> 
<p> Contraseña: <input name="clave" type="password" /></p>
<p><input name="ver" type="button" value="ver" />

<a href="/register">No tienes cuenta?</a>