
<br>
<img src="https://i2.wp.com/www.enfasys.net/wp-content/uploads/2019/05/ecommerce.jpg?fit=1000%2C600&ssl=1" width="600" height="400" class="right">
<form action="/user/signup" method="POST" class="register" >

<p> Registrate</p>
<p> Usuario: <input name="username" type="text" class="right" /> </p> 
<p> Email: <input name="email" type="text" class="right" /> </p>
<p> Contraseña: <input name="password" type="password" class="right" /></p>

<div id="errorRegistro" style="color: red;"></div>
<p><input  type="submit"  />

</form>


<a href="/login">Ya tienes cuenta?</a>


