
<br>

<form action="/register" method="POST">

<p> Registrate</p>
<p> Usuario: <input name="usuario" type="text"/> </p> 
<p> Contraseña: <input name="clave" type="password" /></p>
<p><input  type="submit"  />

</form>

<a href="/login">Ya tienes cuenta?</a>