<br>
<h3>Que servicio quieres ofrecer?</h3>
<form action="" method="POST">


  <div class="form-group">
    <label for="tituloFormControl">Titulo de tu servicio</label>
    <input type="email" class="form-control" id="tituloFormControl" placeholder="Haré ...">
  </div>

  <div class="form-group">
    <label for="acercaFormControl">Descripcion del servicio</label>
    <textarea class="form-control" id="acercaFormControl" rows="2"></textarea>
  </div>

  <div class="form-group">
    <label for="categoriaFormControl">Categoria</label>
    <select class="form-control" id="categoriaFormControl">
      <option>Diseño de logos</option>
      <option>Ilustraciones</option>
      <option>Edición con Photoshop</option>
      <option>Diseño web y móvil</option>
      <option>Retratos</option>
      <option>Otro</option>
    </select>
  </div>
<button type="button" class="btn btn-success">Enviar</button>
  

</form>