*{
    font-family: 'Hind Siliguri', sans-serif;
}
body{
    background-color: #f4fcff;
}

nav{
    background-color: #b9ebff;

}

.dark-mode {
    background-color: #232526;
    color: white;
}
.dark-mode-nav {
    background-color: #1d6580;
}
.dark-mode-footer {
    background-color: #161a1b !important;
    border-top: .05rem solid #1d6580 !important;
}

.white-text{
    color:white !important;
}

.white-text-muted{
    color:rgb(255 255 255 / 50%) !important; 
}


.register{width:350px;}

.right
{
float:right;
}

.footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }

  .link-navbar{
      color: black;
  }
  
